PORT=3001
NODE_ENV=development
JWT_SECRET=SAD6468SD878.-07887878877878977UKjkfsjhÑÑksjfpñ
JWT_ISSUER=my-app-api
JWT_AUDIENCE=my-app-client
DATABASE_URL=postgresql://postgres:12345678@127.0.0.1:5432/pruba?schema=public
JWT_EXPIRES_IN=8h