# Variables de entorno


# Archivos subidos
uploads/

node_modules

logs/*
.env
.env.torno
.env.lavado
msTorno/generated
msLavado/generated
src/logs
dist
logs/
logs/empresa-controller-errors.log
*.log
/logs
*.log
/logs
